In [1]:
location = 'b'
sqft,bhk,bath = 1000,2,2
columns_list = [sqft,bhk,bath,'a','b','c','d','e']

In [2]:
try:
    loc_index = columns_list.index(location.lower())
except:
    loc_index = -1
    
loc_index

4

In [3]:
import numpy as np

In [5]:
x = np.zeros(len(columns_list))  # Create an array with zeros
x

array([0., 0., 0., 0., 0., 0., 0., 0.])

In [6]:
x[0] = sqft
x[1] = bhk
x[2] = bath
x[loc_index] = 1  # x[4] = 1
x

array([1000.,    2.,    2.,    0.,    1.,    0.,    0.,    0.])

model.predict([x]) # 2D

In [ ]:
df['Age'] = [20,21,24,25,27]

In [ ]:
normalization = (X-Xmin)/(Xmax-Xmin)

In [12]:
json_data = {'age_col' : {'min_val' : 21,
                         'max_val' : 27},
            'salary_col':{'mean' :20000,
                     'std':500}}

In [16]:
min_val = json_data['age_col']['min_val']

In [19]:
age = (26 - min_val)/6
age

0.8333333333333334

In [ ]:
models = [linear_regression, knn_regression]
knn_model = models[1]
knn_model.predict(x_test)